.main{
    height: 650px;
    width: 700px;
    margin: auto;
    text-align: center;
}
.header{
    display: block;
    width: 100%;
    height: 100px;
    background-color: black;
   line-height: 5em;
   
    
}
h1{
    color: wheat;

}
.mother{
    display: flex;
    height: 450px;
    width: 100%;
}
.item{
    height: 450px;
    width: 30%;
    background-color: yellow;
}
.free{
    width: 70%;
    height: 450px;
    background-color: darkolivegreen;
}
p{
    margin-right: 7em;
}
.item{
    flex-direction: column;
}
.text{
height: 5%;
width: 100%;
text-align: left;
margin-left: 1em;
}
.fon{
    height: 50%;
    width: 100%;
justify-content: center;
text-align: center;
}


img{
    width: 90%;
    height: 70%;  
    margin-top: 2em; 

}


.articles{
    width: 100%;
    height: 30%;
    margin-bottom: 100px;
}

.end{
    height: 50%;
width: 100%;
display: flex;
justify-content: space-around;
text-align: center;


}
.babies{
background-color: black;
height: 120px;
width: 120px;
margin: auto;
}
.footer{
    height: 100px;
    width: 100%;
    background-color: black ;
}


.no_margin{
    margin: 0;
    line-height: 2em;
}
h1{
    margin: 0;
}


